version: 2.1
orbs:
  gradle: circleci/gradle@3.0.0
executors:
  openjdk-11-executor:
    docker:
      - image: 'circleci/android:api-29'

commands:
  configure-git:
    steps:
      - run:
          name: Configure GIT with user info for pushing
          command: |
            git config user.name "$GITHUB_USERNAME"
            git config user.email "$GITHUB_EMAIL"

  gradle-release:
    steps:
      - run:
          command: |
            ./gradlew clean release -Dorg.gradle.daemon=false --stacktrace -x test -x integrationTest

jobs:
  do-release:
    executor: openjdk-11-executor
    parameters:
      ssh-fingerprints:
        type: string
    steps:
      - add_ssh_keys:
          fingerprints:
            - <<parameters.ssh-fingerprints>>
      - checkout
      - configure-git
      - gradle-release

it-defaults: &it-defaults
      executor: openjdk-11-executor
      test_results_path: build/test-results
      reports_path: build/reports

workflows:
  checkout-run_task:
    jobs:
      - gradle/test:
          executor: openjdk-11-executor
          test_results_path: build/test-results
          reports_path: build/reports
          test_command: test --no-daemon --debug --max-workers 2

# Running all ITs at once was causing intermittent memory errors (as per below config), so we split ITs into batches.
#  integration-test:
#    jobs:
#      - gradle/test:
#          executor: openjdk-8-executor
#          test_results_path: build/test-results
#          reports_path: build/reports
#          test_command: --fail-fast --no-daemon -Dorg.gradle.daemon=false --info integrationTest

  it1:
    jobs:
    - gradle/test:
          <<: *it-defaults
          test_command: --no-daemon -Dorg.gradle.daemon=false --info it1
  it2:
    jobs:
    - gradle/test:
          <<: *it-defaults
          test_command: --no-daemon -Dorg.gradle.daemon=false --info it2
  it3:
    jobs:
    - gradle/test:
          <<: *it-defaults
          test_command: --no-daemon -Dorg.gradle.daemon=false --info it3
  it4:
    jobs:
    - gradle/test:
          <<: *it-defaults
          test_command: --no-daemon -Dorg.gradle.daemon=false --info it4
  it5:
    jobs:
    - gradle/test:
          <<: *it-defaults
          test_command: --no-daemon -Dorg.gradle.daemon=false --info it5

  release:
    jobs:
      - approve-release:
          type: approval
          filters:
            branches:
              only: main
      - do-release:
          ssh-fingerprints: "13:f3:b7:44:ef:87:83:87:87:f9:ae:b7:5f:7f:51:33"
          context: rso-base
          requires:
            - approve-release
          filters:
            branches:
              only: main
