# workflow name shown in the Actions tab and PR checks
name: ci-gha

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - name: Build with Gradle
        run: ./gradlew test --no-daemon --debug --max-workers 2

  it-test:
    strategy:
      # might be helpful to limit threads in local builds
      #max-parallel: 2
      matrix:
        it: [it1, it2, it3, it4, it5, it6]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - uses: ./.github/actions/setup
       # might need to setup NDK for local builds
#      - uses: nttld/setup-ndk@v1
#        with:
#          ndk-version: r28-beta1
#          link-to-sdk: true
      - name: Build with Gradle
        run: ./gradlew test --no-daemon --info ${{ matrix.it }}

  code_quality:
    name: Code Quality
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Sonatype Lifecycle Evaluation
        id: evaluate
        uses: sonatype/actions/evaluate@v1
        with:
          iq-server-url: ${{ vars.SONATYPE_PLATFORM_URL }}
          username: ${{ secrets.SONATYPE_LIFECYCLE_USERNAME }}
          password: ${{ secrets.SONATYPE_LIFECYCLE_PASSWORD }}
          application-id: 'scan-gradle-plugin'
          scan-targets: './build.gradle'
